$box-bg: #2e2e2e;
$box-font-color: #f5f5f5;

.box {
  background-color: $box-bg;
  padding: 40px 15px;
  position: relative;
  color: $box-font-color;
  height: 100%;
}

.dots {
  position: absolute;
  top: 16px;
  right: 12px;
  button {
    background-color: transparent;
  }
}
.dot {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 4px;
  border-radius: 50%;
}

.title {
  font-size: 18px;
  word-break: break-all;
}

.mb {
  margin-bottom: 35px;
}
