.editTitle {
  margin-bottom: 15px;
  padding: 10px 5px;
}

.editDescription {
  margin-bottom: 15px;
  padding: 10px 7px;
}

.editBtn {
  background-color: #1a1a1a;
  padding: 6px 9px;
  margin-right: 15px;
}

.cancelBtn {
  background-color: #311919;
  padding: 6px 9px;
}
