$s: "min-width: 576px";
$m: "min-width: 768px";
$l: "min-width: 992px";
$xl: "min-width: 1200px";

@mixin breakPoint($size) {
  @if $size == s {
    @media ($s) {
      @content;
    }
  }
  @if $size == m {
    @media ($m) {
      @content;
    }
  }
  @if $size == l {
    @media ($l) {
      @content;
    }
  }
  @if $size == xl {
    @media ($xl) {
      @content;
    }
  }
}
