.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include breakPoint(s) {
    max-width: 540px;
  }
  @include breakPoint(m) {
    max-width: 720px;
  }
  @include breakPoint(l) {
    max-width: 960px;
  }
  @include breakPoint(xl) {
    max-width: 1400px;
  }
}
