.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
}

@mixin grid($size, $columns, $gap) {
  @for $i from 1 through $columns {
    @if $size == null {
      .col-#{$i} {
        flex: 0 0 percentage($i / $columns);
        // padding-left: $gap;
        // padding-right: $gap;
      }
    } @else {
      .col-#{$size}-#{$i} {
        @include breakPoint($size) {
          flex: 0 0 percentage($i / $columns);
          padding-left: $gap;
          padding-right: $gap;
        }
      }
    }
  }
}

@include grid(null, 12, 15px);
@include grid(s, 12, 15px);
@include grid(m, 12, 15px);
@include grid(L, 12, 15px);
@include grid(xl, 12, 15px);
