@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  min-height: calc(100vh - 56px);
  background: #121212;
  margin-bottom: 56px;
}

a {
  text-decoration: none;
  color: #000;
}
