@import "./../../styles/breakPoint.scss";

$main-bg: #212121;

.wrapper {
  background: $main-bg;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  @include breakPoint(m) {
    padding-top: 90px;
  }
}
